build/
dist/
*__pycache__*
data/cached_stan_models/*.pkl
*/.ipynb_checkpoints/*
*.csv
*.txt
*.json

.coverage

data/stan_records/*
data/in/*
!data/in/readme.md
!data/in/yeast.xml
!data/in/yeast_smallbone.xml
!data/in/yeast_priors.csv
!data/in/yeast_measurements.csv
!data/in/inits_yeast.Rdump
!data/in/model_input_yeast.Rdump

!tests/data/*/*.csv
!tests/data/*/*/*.csv

src/maud/stan/*
!src/maud/stan/*.*
src/maud/stan/*.hpp

docs/_build/
!docs/_build/html*
docs/_static/*
docs/_templates/*

*.DS_Store
*#

.tox
venv/*
.venv*
maud_venv/*
*egg-info*
pip-wheel-metadata
