*__pycache__*
data/cached_stan_models/*.pkl
*/.ipynb_checkpoints/*

data/stan_records/*
data/in/*
!data/in/readme.md
!data/in/yeast.xml
!data/in/yeast_smallbone.xml
!data/in/yeast_priors.csv
!data/in/yeast_measurements.csv
!data/in/inits_yeast.Rdump
!data/in/model_input_yeast.Rdump

data/out/*
!data/out/readme.md

src/maud/stan_code/autogen/*
!src/maud/stan_code/autogen/readme.md

docs/_build/*
docs/_static/*
docs/_templates/*

*.DS_Store
*#

.tox
venv
src/maud.egg-info
pip-wheel-metadata