*__pycache__*
data/cached_stan_models/*.pkl
*/.ipynb_checkpoints/*

data/in/*
!data/in/readme.md
!data/in/yeast.xml
!data/in/yeast_smallbone.xml
!data/in/yeast_priors.csv
!data/in/yeast_measurements.csv
!data/in/inits_yeast.Rdump
!data/in/model_input_yeast.Rdump

data/out/*
!data/out/readme.md

*.DS_Store
*#
stan/autogen/*
!stan/autogen/readme.md
stan/model_*