[build-system]
requires = [
  'setuptools>=40.6.0',
  'wheel'
]

[tool.black]
line-length = 79
python-version = ['py38', 'py39']
exclude = '''
(
    __init__.py
    | _version.py
)
'''

[tool.mypy]
plugins = ["pydantic.mypy", "numpy.typing.mypy_plugin"]

[[tool.mypy.overrides]]
module = ["scipy.*", "cmdstanpy.*", "depinfo", "maud.*", "matplotlib.*"]
ignore_missing_imports = true
